* {
    margin:0;
    padding: 0; 
    box-sizing :border-box;
  }
  
  
  body {
    margin: 0;
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ','ＭＳ Ｐゴシック',sans-serif;

  }
  
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
  }

  header {
    width: 100%;
    height:190px;
  }
  
  .header-left {
  float: left;
  margin:25px 0 0 20px;
  }

  .logo {
    font-size: 35px;
    letter-spacing: 5px;
  }

  .header-right {
    float: right;
    margin-right:160px;
  }
  .menu {
    list-style-type: none;
    float: left;
    margin-right:40px;
    margin-top: 110px;
  }

  .menu a {
    color: #000;
    font-size: 14px;
  }

  .top-wrapper {
  background-image: url(../img/photo-1468779036391-52341f60b55d.jpeg);
  background-size: cover;
  color: white;
  }

  .coment {
    text-align: left;
    letter-spacing :12px;
    float: left;
    margin :60px 0 0 190px;
}

.main {
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
}

.heading h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  letter-spacing: 0.05em;
  line-height: 1.0;
  font-weight: 100;
  color: grey;
}

.works-wrapper {
  margin: 40px auto 0;
  max-width: 1170px;
  position: relative;
}

.contents-icon{
  padding: 2%;
}

.picture {
  width: 300px;
  height: 200px;
  box-shadow:2px 2px 4px #000;
}

.description {
  padding: 2%;
  text-align: left;
}

.description a {
  color: #000;
}

.memo {
  padding-top: 10%;
}

.user-icon {
  margin-bottom: 10px;
  text-align: center;
}
.user-icon img {
  margin: 10px;
  width: 90%;
  max-width: 240px;
}
.user-icon:empty {
  border: none;
  background: none;
}

.about-coment {
margin-top: 10%;
text-align: left;
letter-spacing :5px;
color: darkgrey;
}


.skill {
  float: left;
  width: 33.33%;
}

.skill-coment {
  width: 60%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: darkgrey;
  letter-spacing :5px;
  text-align: left;
}

input,textarea {
  font-size :15px;
  margin:10px 0 30px 0;
  border :1px solid #dee7ec;
}

input.example {
   width: 400px;
   height: 40px;
   background-color: #f5f5f5;
   }

textarea {
width: 400px;
height: 15em;
}

.contact-submit {
  width: 150px;
  font-size :15px;
  background-color: #f5f5f5;
  color: slategrey;
  cursor: pointer;
  box-shadow: 2px 2px 4px ;
}

.contact-submit:active {
  position: relative;
  top: 7px;
  box-shadow: none;
  width: 140px;
}

footer {
  height: 200px;
  background-color: #000;
  color: #fff;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  height:auto;
}

.footer-icon {
  margin:10px;
}

.fa-github,.fa-twitter {
  color: #fff;
}

.top-scroll {
  display: flex;
  justify-content: center;
  height:auto;
}

.fa-arrow-circle-up {
  color: #fff;
}


.history {
display: flex;
justify-content: flex-end;
}

.date {
  margin: 10px 50px 30px 0;
}


.menu-icon {
  color: #c0c0c0;
  font-size: 25px;
  display: none;
  float: right;
  margin: 5%;
}

/* Responsive */
@media ( min-width : 670px ){

  .header-left {
    margin:25px 0 0 200px;
  }

  .top-wrapper {
    height: 400px;
  }

  .works-wrapper {
    display: flex;
    justify-content: center;
  }
  .contents-icon {
    margin: 0 150px 0 0;
    flex: 0 1 auto;
  }
  .description {
    flex: 0  0 300px; 
  }

    .plofile {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .user-icon {
      flex: 0 0 24%;
    }

    .footer-icon {
      margin: 30px 30px 0 30px;
    }
}
